#SingleModelPage {
  padding-top: 83px;
}
#SingleModelPage * {
  color: #ffffff;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
#SingleModelPage ul,
#SingleModelPage ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
#SingleModelPage .page_title {
  font-size: 37px;
  margin-bottom: 125px;
  text-align: center;
}
#SingleModelPage #section_1 {
  margin-bottom: 75px;
}
#SingleModelPage .page_container {
  max-width: 950px;
  margin: auto;
}
@media (max-width: 1000px) {
  #SingleModelPage .page_container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
#SingleModelPage .subtitle_header {
  font-size: 23px;
  margin-bottom: 23px;
}
#SingleModelPage #section_2 .section_body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 850px) {
  #SingleModelPage #section_2 .section_body {
    flex-wrap: wrap;
  }
}
#SingleModelPage #section_2 .section_body .section_main {
  max-width: 513px;
}
@media (max-width: 850px) {
  #SingleModelPage #section_2 .section_body .section_main {
    max-width: 100%;
  }
}
#SingleModelPage #section_2 .section_body .section_main .description_box * {
  font-weight: normal;
  font-size: 14px;
}
#SingleModelPage #section_2 .section_body .section_main .description_box a {
  text-decoration: underline;
}
#SingleModelPage #section_2 .section_body .section_main .description_box ul {
  list-style: disc;
  list-style-position: inside;
}
#SingleModelPage #section_2 .section_body .section_main .description_box strong {
  display: block;
  font-weight: bold;
  margin-top: 15px;
}
#SingleModelPage #section_2 .section_body .section_main .description_box .heading_3 {
  font-size: 23px;
  margin-bottom: 9px;
  padding-left: 15px;
}
#SingleModelPage #section_2 .section_body .section_main .description_box .account_info {
  margin-bottom: 30px;
}
#SingleModelPage #section_2 .section_body .section_main .description_box .account_info .heading_3 {
  margin-bottom: 14px;
}
#SingleModelPage #section_2 .section_body .section_main .description_box .account_info .account_number {
  font-size: 15px;
  display: block;
}
#SingleModelPage #section_2 .section_body .section_aside {
  width: 274px;
}
@media (max-width: 850px) {
  #SingleModelPage #section_2 .section_body .section_aside {
    width: 100%;
    margin-bottom: 25px;
  }
}
#SingleModelPage #section_2 .section_body .section_aside .invest_card {
  background: #343434;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 65px;
}
#SingleModelPage #section_2 .section_body .section_aside .invest_card .invest_card_header {
  height: 199px;
  background: var(--header-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
#SingleModelPage #section_2 .section_body .section_aside .invest_card .invest_card_body {
  padding: 13px 24px;
}
#SingleModelPage #section_2 .section_body .section_aside .invest_card .invest_card_body li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#SingleModelPage #section_2 .section_body .section_aside .invest_card .invest_card_body li .list_box:first-of-type {
  padding-right: 10px;
}
#SingleModelPage #section_2 .section_body .section_aside .invest_card .invest_card_body li .counter_wrapper button {
  background: transparent;
  border: none;
  outline: none;
  width: 24.33px;
  height: 24.33px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
#SingleModelPage #section_2 .section_body .section_aside .invest_card .invest_card_body li .counter_wrapper .counter_value {
  margin: 0px 10px;
  display: inline-block;
  width: 30px;
  text-align: center;
}
#SingleModelPage #section_2 .section_body .section_aside .invest_card .invest_card_footer {
  padding: 0 24px;
  padding-bottom: 15px;
}
#SingleModelPage #section_2 .section_body .section_aside .invest_card .invest_card_footer .invest_btn {
  background: #fff;
  border: none;
  outline: none;
  font-size: 15px;
  color: #000;
  text-align: center;
  display: block;
  width: 100%;
  border-radius: 52px;
  padding: 5px;
}
#SingleModelPage #section_2 .section_body .section_aside .not_found_card {
  width: 274px;
  height: 150px;
  border-radius: 6px;
  background: #2B2B2B;
  font-size: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=SingleModelPage.css.map */