#Opportunities .page_container {
  max-width: 1287px;
  margin: auto;
  margin-top: 82px;
}
@media (max-width: 1000px) {
  #Opportunities .page_container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
#Opportunities .page_container * {
  color: #fff;
}
#Opportunities .page_container ul,
#Opportunities .page_container ol {
  margin: 0;
  padding: 0;
}
#Opportunities .page_container .page_header {
  margin-bottom: 72px;
}
#Opportunities .page_container .page_header .counter {
  font-size: 34px;
  color: #5F5F5F;
  vertical-align: bottom;
  margin-left: 8px;
}
#Opportunities .page_container .page_sub_header {
  font-size: 34px;
  margin-bottom: 58px;
}
@media (max-width: 700px) {
  #Opportunities .page_container .page_sub_header {
    font-size: 25px;
  }
}
#Opportunities .page_container .page_sub_header .counter {
  font-size: 27px;
  color: #707070;
}
@media (max-width: 700px) {
  #Opportunities .page_container .page_sub_header .counter {
    font-size: 20px;
  }
}
#Opportunities .page_container .card_row {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 84px;
}
@media (max-width: 1290px) {
  #Opportunities .page_container .card_row {
    justify-content: space-around;
  }
}
#Opportunities .page_container .card_row .invest_card {
  background: #343434;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 58px;
  margin-right: 58px;
  width: 274px;
}
@media (max-width: 1290px) {
  #Opportunities .page_container .card_row .invest_card {
    margin-right: 0px;
  }
}
#Opportunities .page_container .card_row .invest_card:nth-child(4n) {
  margin-right: 0px;
}
#Opportunities .page_container .card_row .invest_card .invest_card_header {
  height: 199px;
  background: var(--header-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
#Opportunities .page_container .card_row .invest_card .invest_card_body {
  padding: 13px 24px;
}
#Opportunities .page_container .card_row .invest_card .invest_card_body li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Opportunities .page_container .card_row .invest_card .invest_card_body li .list_box:first-of-type {
  padding-right: 10px;
}
#Opportunities .page_container .card_row .invest_card .invest_card_body li .counter_wrapper button {
  background: transparent;
  border: none;
  outline: none;
  width: 24.33px;
  height: 24.33px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
#Opportunities .page_container .card_row .invest_card .invest_card_body li .counter_wrapper .counter_value {
  margin: 0px 10px;
  display: inline-block;
  width: 30px;
  text-align: center;
}
#Opportunities .page_container .card_row .invest_card .invest_card_footer {
  padding: 0 24px;
  padding-bottom: 15px;
}
#Opportunities .page_container .card_row .invest_card .invest_card_footer .invest_btn {
  background: #fff;
  border: none;
  outline: none;
  font-size: 15px;
  color: #000;
  text-align: center;
  display: block;
  width: 100%;
  border-radius: 52px;
  padding: 5px;
}/*# sourceMappingURL=Opportunities.css.map */