@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
#Page1 {
  padding-top: 83px;
}
#Page1 * {
  color: #ffffff;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
#Page1 ul,
#Page1 ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
#Page1 #section_1 {
  margin-bottom: 75px;
}
#Page1 .page_container {
  max-width: 950px;
  margin: auto;
}
#Page1 .page_container .flex_row {
  display: flex;
  justify-content: space-between;
}
#Page1 .page_container .flex_row h2 {
  font-size: 23px;
}
#Page1 .page_container .flex_row .flex_item_left {
  display: flex;
  align-items: center;
}
#Page1 .page_container .flex_row .flex_item_left .item_box {
  padding-left: 24px;
}
#Page1 .page_container .flex_row .flex_item_left .provider_box {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}
#Page1 .page_container .flex_row .flex_item_left .provider_box .provider_info {
  display: flex;
  flex-direction: column;
  padding-left: 7px;
}
#Page1 .page_container .flex_row .flex_item_left .provider_box .provider_info small {
  font-size: 8px;
}
#Page1 .page_container .flex_row .flex_item_left .provider_box .provider_info strong {
  font-size: 13px;
  white-space: nowrap;
}
#Page1 .page_container .flex_row .flex_item_left .rating_box h2 {
  margin-bottom: 0;
}
#Page1 .page_container .flex_row .flex_item_left .rating_box .rating_wrapper {
  margin-top: 3px;
}
#Page1 .page_container .flex_row .flex_item_left .rating_box .rating_wrapper .rating_span {
  margin-right: 4px;
  vertical-align: baseline;
}
#Page1 .page_container .flex_row .flex_item_left .rating_box .rating_wrapper .rating_span svg {
  width: 15px;
  height: 15px;
}
#Page1 .page_container .flex_row .flex_item_left .rating_box .rating_wrapper .rating_span:last-child {
  margin-right: 0px;
  display: inline-block;
  transform: translateY(3px);
}
#Page1 .page_container .flex_row .flex_item_right {
  text-align: right;
}
#Page1 .page_container .flex_row .flex_item_right .share_btn {
  background: #C73C3C;
  border: none;
  outline: none;
  color: #fff;
  font-size: 11px;
  display: inline-block;
  margin-bottom: 41px;
}
#Page1 .page_container .flex_row .flex_item_right .share_btn svg {
  display: inline-block;
  margin-left: 7px;
}
#Page1 .page_container .flex_row .flex_item_right .share_btn span {
  display: inline-block;
  padding: 6px 10px;
}
#Page1 .page_container .flex_row .flex_item_right .fixed {
  font-size: 15px;
  font-weight: normal;
}
#Page1 #section_2 .section_tab {
  margin-bottom: 24px;
}
#Page1 #section_2 .section_tab .btn_tab_section {
  background: transparent;
  border: none;
  outline: none;
  padding: 7px;
  position: relative;
}
#Page1 #section_2 .section_tab .btn_tab_section:first-child {
  margin-right: 56px;
}
#Page1 #section_2 .section_tab .btn_tab_section.active_btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #909090;
}
#Page1 #section_2 .section_body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#Page1 #section_2 .section_body .section_main {
  max-width: 513px;
}
#Page1 #section_2 .section_body .section_main .video_frame_wrapper {
  position: relative;
  margin-bottom: 57px;
}
#Page1 #section_2 .section_body .section_main .video_frame_wrapper .video_frame {
  width: 100%;
  height: 244px;
}
#Page1 #section_2 .section_body .section_main .video_frame_wrapper .video_frame_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  border-radius: 100%;
  margin: 0;
  padding: 0;
  outline: none;
}
#Page1 #section_2 .section_body .section_main .description_box * {
  font-weight: normal;
  font-size: 14px;
}
#Page1 #section_2 .section_body .section_main .description_box a {
  text-decoration: underline;
}
#Page1 #section_2 .section_body .section_main .description_box ul {
  list-style: disc;
  list-style-position: inside;
}
#Page1 #section_2 .section_body .section_main .description_box strong {
  display: block;
  font-weight: bold;
  margin-top: 15px;
}
#Page1 #section_2 .section_body .section_aside {
  width: 274px;
}
#Page1 #section_2 .section_body .section_aside .invest_card {
  background: #343434;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}
#Page1 #section_2 .section_body .section_aside .invest_card .invest_card_header {
  height: 199px;
  background: var(--header-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
#Page1 #section_2 .section_body .section_aside .invest_card .invest_card_body {
  padding: 13px 24px;
}
#Page1 #section_2 .section_body .section_aside .invest_card .invest_card_body li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Page1 #section_2 .section_body .section_aside .invest_card .invest_card_body li .list_box:first-of-type {
  padding-right: 10px;
}
#Page1 #section_2 .section_body .section_aside .invest_card .invest_card_body li .counter_wrapper button {
  background: transparent;
  border: none;
  outline: none;
  width: 24.33px;
  height: 24.33px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
#Page1 #section_2 .section_body .section_aside .invest_card .invest_card_body li .counter_wrapper .counter_value {
  margin: 0px 10px;
  display: inline-block;
  width: 30px;
  text-align: center;
}
#Page1 #section_2 .section_body .section_aside .invest_card .invest_card_footer {
  padding: 0 24px;
  padding-bottom: 15px;
}
#Page1 #section_2 .section_body .section_aside .invest_card .invest_card_footer .invest_btn {
  background: #fff;
  border: none;
  outline: none;
  font-size: 15px;
  color: #000;
  text-align: center;
  display: block;
  width: 100%;
  border-radius: 52px;
  padding: 5px;
}
#Page1 #section_2 .section_body .section_aside .metric_chart {
  margin-bottom: 16px;
}
#Page1 #section_2 .section_body .section_aside .metric_chart .metric_chart_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}
#Page1 #section_2 .section_body .section_aside .metric_chart .metric_chart_header h3 {
  font-size: 18px;
  margin: 0;
}
#Page1 #section_2 .section_body .section_aside .metric_chart .metric_chart_header small {
  font-size: 10px;
  font-weight: normal;
  display: block;
  text-align: right;
}
#Page1 #section_2 .section_body .section_aside .metric_chart .metric_chart_header h4 {
  font-size: 14px;
  margin: 0;
}
#Page1 #section_2 .section_body .section_aside .project_details {
  margin-bottom: 52px;
}
#Page1 #section_2 .section_body .section_aside .project_details .project_details_header {
  margin-bottom: 25px;
}
#Page1 #section_2 .section_body .section_aside .project_details .project_details_header h2 {
  font-size: 18px;
}
#Page1 #section_2 .section_body .section_aside .project_details .project_details_body * {
  font-size: 14px;
}
#Page1 #section_2 .section_body .section_aside .project_details .project_details_body a {
  color: #9075FF;
}
#Page1 #section_2 .section_body .section_aside .project_details .project_details_body td {
  padding-bottom: 10px;
  white-space: nowrap;
  font-weight: normal;
}
#Page1 #section_2 .section_body .section_aside .project_details .project_details_body td:first-of-type {
  padding-right: 34px;
}
#Page1 #section_2 .section_body .section_aside .social_action h2 {
  font-size: 18px;
  margin-bottom: 17px;
}
#Page1 #section_2 .section_body .section_aside .social_action ul.social_list {
  display: flex;
  align-items: center;
}
#Page1 #section_2 .section_body .section_aside .social_action ul.social_list li:not(:last-child) {
  margin-right: 11px;
}/*# sourceMappingURL=Page1.css.map */