@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

#Page1 {
    padding-top: 83px;

    * {
        color: #ffffff;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
    }

    ul,
    ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #section_1 {
        margin-bottom: 75px;
    }

    .page_container {
        max-width: 950px;
        margin: auto;

        .flex_row {
            display: flex;
            justify-content: space-between;

            h2 {
                font-size: 23px;
            }

            .flex_item_left {
                display: flex;
                align-items: center;

                .item_box {
                    padding-left: 24px;
                }

                .provider_box {
                    display: flex;
                    align-items: center;
                    margin-bottom: 13px;

                    .provider_info {
                        display: flex;
                        flex-direction: column;
                        padding-left: 7px;

                        small {
                            font-size: 8px;
                        }

                        strong {
                            font-size: 13px;
                            white-space: nowrap;
                        }
                    }
                }

                .rating_box {
                    h2 {
                        margin-bottom: 0;
                    }

                    .rating_wrapper {
                        margin-top: 3px;

                        .rating_span {
                            margin-right: 4px;
                            vertical-align: baseline;

                            svg {
                                width: 15px;
                                height: 15px;
                            }

                            &:last-child {
                                margin-right: 0px;
                                display: inline-block;
                                transform: translateY(3px);
                            }
                        }
                    }
                }
            }

            .flex_item_right {
                text-align: right;

                .share_btn {
                    background: #C73C3C;
                    border: none;
                    outline: none;
                    color: #fff;
                    font-size: 11px;
                    display: inline-block;
                    margin-bottom: 41px;

                    svg {
                        display: inline-block;
                        margin-left: 7px;
                    }

                    span {
                        display: inline-block;
                        padding: 6px 10px;
                    }
                }

                .fixed {
                    font-size: 15px;
                    font-weight: normal;
                }

            }
        }
    }

    #section_2 {
        .section_tab {
            margin-bottom: 24px;

            .btn_tab_section {
                background: transparent;
                border: none;
                outline: none;
                padding: 7px;
                position: relative;

                &:first-child {
                    margin-right: 56px;
                }

                &.active_btn {
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background: #909090;
                    }
                }
            }
        }

        .section_body {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .section_main {
                max-width: 513px;

                .video_frame_wrapper {
                    position: relative;
                    margin-bottom: 57px;

                    .video_frame {
                        width: 100%;
                        height: 244px;
                    }

                    .video_frame_btn {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: transparent;
                        border: none;
                        border-radius: 100%;
                        margin: 0;
                        padding: 0;
                        outline: none;
                    }
                }

                .description_box {

                    * {
                        font-weight: normal;
                        font-size: 14px;
                    }

                    a {
                        text-decoration: underline;
                    }

                    ul {
                        list-style: disc;
                        list-style-position: inside;
                    }

                    strong {
                        display: block;
                        font-weight: bold;
                        margin-top: 15px;
                    }
                }
            }

            .section_aside {
                width: 274px;

                .invest_card {
                    background: #343434;
                    border-radius: 4px;
                    overflow: hidden;
                    margin-bottom: 20px;

                    .invest_card_header {
                        height: 199px;
                        background: var(--header-bg);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .invest_card_body {
                        padding: 13px 24px;

                        li {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .list_box:first-of-type {
                                padding-right: 10px;
                            }

                            .counter_wrapper {
                                button {
                                    background: transparent;
                                    border: none;
                                    outline: none;
                                    $s: 24.33px;
                                    width: $s;
                                    height: $s;
                                    border: 1px solid rgba(255, 255, 255, 0.3);
                                    display: inline-flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 100%;
                                }

                                .counter_value {
                                    margin: 0px 10px;
                                    display: inline-block;
                                    width: 30px;
                                    text-align: center;
                                }
                            }
                        }
                    }

                    .invest_card_footer {
                        padding: 0 24px;
                        padding-bottom: 15px;

                        .invest_btn {
                            background: #fff;
                            border: none;
                            outline: none;
                            font-size: 15px;
                            color: #000;
                            text-align: center;
                            display: block;
                            width: 100%;
                            border-radius: 52px;
                            padding: 5px;
                        }
                    }
                }

                .metric_chart {
                    margin-bottom: 16px;

                    .metric_chart_header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 22px;

                        h3 {
                            font-size: 18px;
                            margin: 0;
                        }

                        small {
                            font-size: 10px;
                            font-weight: normal;
                            display: block;
                            text-align: right;
                        }

                        h4 {
                            font-size: 14px;
                            margin: 0;
                        }
                    }
                }

                .project_details {
                    margin-bottom: 52px;

                    .project_details_header {
                        margin-bottom: 25px;

                        h2 {
                            font-size: 18px;
                        }
                    }

                    .project_details_body {
                        * {
                            font-size: 14px;
                        }

                        a {
                            color: #9075FF;
                        }

                        td {
                            padding-bottom: 10px;
                            white-space: nowrap;
                            font-weight: normal;

                            &:first-of-type {
                                padding-right: 34px;
                            }
                        }
                    }
                }

                .social_action {
                    h2 {
                        font-size: 18px;
                        margin-bottom: 17px;
                    }

                    ul.social_list {
                        display: flex;
                        align-items: center;

                        li:not(:last-child) {
                            margin-right: 11px;
                        }
                    }
                }
            }
        }
    }
}