@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap');

/* 

font-family: 'Inter', sans-serif;
font-family: 'Outfit', sans-serif; 

*/

/* ...........global classes......... */

.page_header {
  font-size: 64px;
}
@media (max-width: 700px) {
  .page_header {
    font-size: 40px;
  }
}
